<div class="container-fluid">
    <div class="row mt-2 py-2 align-items-center">
        <div class="col-12 col-sm-3 mb-3 mb-sm-0 d-flex align-items-center gap-2">
            <div class="fs-3 text-primary">DASHBOARD</div>
        </div>

        <div class="col-12 col-xl-9">
            <div class="d-flex justify-content-end align-items-center gap-3 gap-xl-5">
                <input type="search" name="search" id="searchTask" placeholder="Search tasks..."
                    class="form-control ms-auto ms-xl-0" style="width: clamp(250px, 20vw, 450px);">
                <!-- <button class="btn btn-bd-outline-sunset px-lg-5 border-2 position-relative" type="button"
                    data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    <i class="bi bi-cup-hot-fill"></i> FEEDS
                    <span
                        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success text-white"
                        id="newPosts"><span class="visually-hidden">unread messages</span>
                    </span>
                </button> -->
                <? if(user.role !== 'user'){ ?>
                <button class="btn btn-bd-primary px-3 create-task border-2" title="Create A New Task"><i
                        class="bi bi-plus-lg"></i> TASK</button>
                <? } ?>


            </div>
        </div>
    </div>
</div>
<hr>
<div class="container-fluid">
    <div class="row g-4">
        <div class="col-12">
            <div class="my-4 d-flex flex-wrap justify-content-between align-items-center gap-5 filter-buttons"
                id="actionBtn">
                <button class="btn btn-success px-lg-5 border-2 me-auto filter-btn fw-semibold all">All</button>
                <button class="btn btn-outline-info px-lg-5 border-2 filter-btn fw-semibold pending">Pending</button>
                <button class="btn btn-outline-primary px-lg-5 border-2 filter-btn fw-semibold in_progress">In
                    Progress</button>
                <button
                    class="btn btn-outline-success px-lg-5 border-2 filter-btn fw-semibold completed">Completed</button>
                <button
                    class="btn btn-outline-danger px-lg-5 border-2 filter-btn fw-semibold archived d-none">Archived</button>
            </div>

            <!-- <div class="dataTable table-responsive" id="dataTable"></div> -->
            <div class="dataTable table-responsive max-vh-80" id="dataTable"></div>

        </div>
        <!-- rgb(184, 255, 251) -->
        <!-- <div class="col-3 updates bg-light-subtle" id="rightSide"></div> -->
    </div>
</div>

<style>
    html {
        font-size: 85%;
    }

    /* mark.highlight-mark {
        background: #fff176;
        padding: 0 0.12rem;
        border-radius: 2px;
    } */

    #showPostFormBtn {
        /* position: fixed; */
        /* Floats relative to the viewport */
        /* bottom: 30px; */
        right: 30px;
        width: 60px;
        /* Round button dimensions */
        height: 60px;
        font-size: 20px;
        /* Makes the '+' bigger */
        line-height: 1.5;
        z-index: 1050;
        /* Ensures it's on top of other content */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

        /* Prevents text selection on double click */
        user-select: none;
    }
</style>

<script src="/_libs/flatpickr.js"></script>
<script type="module" src="/js/dashboard.js"></script>