<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/img/favicon/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/_libs/bootstrap/bootstrap.css" />
  <link rel="stylesheet" href="/_libs/bootstrap-icons/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="/css/styles.css" />
  <title>
    <?= title || 'TMS' ?>
  </title>
  <script src="/_libs/moment.min.js"></script>
  <script src="/_libs/dayjs.min.js"></script>
</head>

<body>
  <? if (!hideNavbar) { ?>
  
  <? } ?>

  <?- body ?>


  <script src="/_libs/bootstrap/bootstrap.bundle.js"></script>
  
</body>

</html>