<div class="container">
    <div class="row my-4">
        <div class="col-12 col-lg-4">
            <h3>POSTS & FEEDS</h3>
            <span class="text-secondary">
                <?= user.fullname ?>
            </span>
        </div>
        <div class="col-12 col-lg-8 text-end">  
            <a href="/auth/dashboard" class="btn btn-bd-outline-primary px-4 me-5">DASHBOARD</a>          
            <button class="btn btn-bd-primary px-5" id="createPost"><i class="bi bi-plus-lg"></i> POST</button>
        </div>
    </div>

    <div class="dataTable table-responsive" id="dataTable"></div>
</div>

<script type="module" src="/js/posts.js"></script>