<div class="container-fluid">
    <div class="row my-2 py-2">
        <div class="col-12 col-lg-4">
            <div class="mb-0 fs-3 text-primary">POSTS & FEEDS</div>
        </div>
        <div class="col-12 col-lg-8 text-end">  
            <button class="btn btn-bd-primary px-3" id="createPost"><i class="bi bi-plus-lg"></i> POST</button>
        </div>
    </div>

    <div class="dataTable table-responsive" id="dataTable"></div>
</div>

<script type="module" src="/js/posts.js"></script>