<div class="container">
    <div class="row my-4">
        <div class="col-12 col-lg-4">
            <h3 class="mb-0">SETTINGS</h3>
            <span class="text-secondary">
                <?= user.fullname ?>
            </span>
        </div>
        <div class="col-12 col-lg-8">
            <div class="d-flex justify-content-end align-items-center gap-4">
                <a href="/auth/posts" class="btn btn-bd-outline-primary px-4">POSTS</a>
                <a href="/auth/dashboard" class="btn btn-bd-outline-primary px-sm-4">DASHBOARD</a>
                <button class="btn btn-bd-primary px-4 register" id="register"><i class="bi bi-plus-lg"></i> USER</button>
            </div>
        </div>
    </div>

    <div class="dataTable table-responsive max-vh-80" id="dataTable"></div>
</div>

<script type="module" src="/js/settings.js"></script>