<div class="container">
    <div class="row my-4">
        <div class="col-12 col-lg-4">
            <h3 class="mb-0">SETTINGS</h3>
        </div>
        <div class="col-12 col-lg-8 d-flex justify-content-end gap-4">
            <a href="/auth/posts" class="btn btn-bd-outline-primary px-4">View posts</a>
            <a href="/auth/dashboard" class="btn btn-bd-outline-primary px-4">Dashboard</a>
            <button class="btn btn-bd-primary px-4 register" id="register">Create User</button>
        </div>
    </div>

    <div class="dataTable table-responsive max-vh-80" id="dataTable"></div>
</div>

<script type="module" src="/js/settings.js"></script>