<div class="container-fluid">
    <div class="row my-2 py-2">
        <div class="col-12 col-lg-4">
            <div class="mb-0 fs-3 text-primary">SETTINGS</div>
        </div>
        <div class="col-12 col-lg-8">
            <div class="d-flex justify-content-end align-items-center gap-4">
                <a href="/auth/posts" class="btn btn-bd-outline-primary px-4">POSTS & FEEDS</a>
                <button class="btn btn-bd-primary px-4 register" id="register"><i class="bi bi-plus-lg"></i> USER</button>
            </div>
        </div>
    </div>

    <div class="dataTable table-responsive max-vh-80" id="dataTable"></div>
</div>

<script type="module" src="/js/settings.js"></script>