<div id="alert-container"></div>
<div class="container-fluid">
    <div class="row mt-2 py-2 align-items-center">
        <div class="col-3 mb-3 mb-sm-0 d-flex align-items-center gap-2">
            <span class="fs-3 text-primary" title="Task Mamagement System">SPECIAL TASKS</span>
        </div>

        <div class="col-9">
            <div class="d-flex justify-content-end align-items-center gap-3 gap-xl-5">
                <input type="search" name="search" id="searchTask" placeholder="Search tasks..." class="form-control"
                    style="width: clamp(250px, 20vw, 450px);">

                <? if(user.role !== 'user'){ ?>
                <button class="btn btn-bd-primary px-3 create-task border-2" title="Create A New Task"><i class="bi bi-plus-lg"></i> TASK</button>
                <? } ?>
            </div>
        </div>
    </div>
    <!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop"
        aria-controls="staticBackdrop">
        Toggle static offcanvas
    </button> -->

    <div class="specialTasks my-5" id="specialTasks"></div>
    <div id="specialTasksContainer"></div>
    <input type="hidden" id="currentUserId" value="<?= user.id ?>">

</div>

<!-- <div class="offcanvas offcanvas-end" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop"
    aria-labelledby="staticBackdropLabel" style="--bs-offcanvas-width: 700px;">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">Offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            I will not close if you click outside of me.
        </div>
    </div>
</div> -->


<script type="module" src="/js/specialTasks.js"></script>