<div id="alert-container"></div>
<div class="container-fluid">
    <div class="row mt-2 py-2 align-items-center">
        <div class="col-12 col-md-3 mb-3 mb-md-0">
            <span  class="fs-3 text-primary ">DAILY TASKS LIST</span>
        </div>

        <div class="col-12 col-md-9">
            <div class="d-flex justify-content-between justify-content-md-end align-items-center gap-2">
                <!-- <input type="date" name="" id="inputDate" class="form-control me-auto me-md-0" style="width: 180px;"> -->
                <input type="search" name="search" id="searchTask" placeholder="Search tasks..." class="form-control me-4" style="width: clamp(250px, 20vw, 450px);">
                <? if(user.role !== 'user'){ ?>
                <!-- <select name="users" id="selectUser" class="form-select" style="width: 180px;"></select> -->
                <? } ?>

                <button class="btn btn-bd-primary px-md-4 border-2" id="createDailyTask" title="Create Daily Task"><i class="bi bi-plus-lg"></i> TASK</button>

                <? if(user.role !== 'user'){ ?>
                <? } ?>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container-fluid">
    <div class="dataTable table-responsive max-vh-70" id="dataTable"></div>
</div>

<style>
    html { font-size: 85%; }
</style>

<script type="module" src="/js/tasklists.js"></script>