.btn-bd-primary {
  --bs-btn-font-weight: 400;
  --bs-btn-color: #fff;
  --bs-btn-bg: #712cf9;
  --bs-btn-border-color: #712cf9;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #5e23d6; /* slightly darker violet */
  --bs-btn-hover-border-color: #5e23d6;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4b1cad; /* even darker */
  --bs-btn-active-border-color: #4b1cad;
}

.btn-bd-outline-primary {
  --bs-btn-color: #712cf9;
  --bs-btn-border-color: #712cf9;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #5e23d6;
  --bs-btn-hover-border-color: #5e23d6;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4b1cad;
  --bs-btn-active-border-color: #4b1cad;
}

.btn-bd-warning {
  --bs-btn-font-weight: 600;
  --bs-btn-color: #000;
  --bs-btn-bg: #e9df25;
  --bs-btn-border-color: #e9df25;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #dcd216;
  --bs-btn-hover-border-color: #dcd216;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #c4bb13;
  --bs-btn-active-border-color: #c4bb13;
}


.btn-bd-outline-warning {
  --bs-btn-color: #e9df25;
  --bs-btn-border-color: #e9df25;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #e9df25;
  --bs-btn-hover-border-color: #e9df25;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #c4bb13;
  --bs-btn-active-border-color: #c4bb13;
}



.test1{
    color: #31a200
}